name: Deploy site on GitHub Pages

on:
  push:
    branches: [main]

permissions:               
  contents: read
  pages: write
  id-token: write
  actions: read             

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: npx htmlhint "**/*.html"
      - run: npx eslint js/
      - run: |
          grep -iq "<h1>" index.html || { echo "âŒ <h1> manquant"; exit 1; }

      - uses: actions/upload-pages-artifact@v1
        with:
          path: .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - uses: actions/configure-pages@v3
      - id: deploy
        uses: actions/deploy-pages@v2
